.number {
    text-align: end;
}

body {
    background-color: honeydew;
}

table {
    border-collapse : collapse;
}

table > thead {
    background-color: palegreen;
}

table > tbody > tr:nth-child(even) {
    background-color: lavender;
}

table th, table td  {
    border-color: black;
    border-style: solid;
    border-width: thin;
    padding-left: 1em;
    padding-right: 1em;
}

table > colgroup.heading {
    background-color: wheat;
}

div.toolbar-root {
    margin: 0;
    padding: 0; 
    display: flex;
    justify-content: space-between;
}

div.toolbar-reccomendChangePassword {
    background-color: lightblue;
}

div.toolbar-normal {
    background-color: lightpink;
}

span.toolbar-status span.toolbar-clock,
span.toolbar-status span.toolbar-userid {
    margin-left: 1ex;
    margin-rignt: 1ex;
}

table.monthlyNewCases > tbody > tr.watching,
table.東京圏と大阪圏の比較 > tbody > tr.watching {
    background-color: lightpink;
}

table.monthlyNewCases > tbody td.watching,
table.東京圏と大阪圏の比較 > tbody td.watching {
    color: red;
}
