<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <context-param>
        <param-name>javax.faces.PROJECT_STAGE</param-name>
        <param-value>Development</param-value>
    </context-param>
    <context-param>
        <param-name>javax.faces.STATE_SAVING_METHOD</param-name>
        <param-value>client</param-value>
    </context-param>
<!--リクエストのIPアドレスやユーザ、処理開始・終了時刻等をWebProfileテーブルに出力するフィルタ
    有効化する前にWebProfileテーブルを生成する必要あり
    <filter>
        <filter-name>WebProfileFilter</filter-name>
        <filter-class>com.gmail.kasabuta4.jsfdemo.common.profile.web.WebProfileFilter</filter-class>
    </filter>
-->
    <filter>
        <filter-name>Basic Authentication Filter</filter-name>
        <filter-class>com.gmail.kasabuta4.jsfdemo.common.authentication.BasicAuthenticationFilter</filter-class>
    </filter>
    <filter>
        <filter-name>Authorization Filter</filter-name>
        <filter-class>com.gmail.kasabuta4.jsfdemo.common.authentication.AuthorizationFilter</filter-class>
        <init-param>
            <param-name>resources-to-all</param-name>
            <param-value>
                /faces/javax.faces.resource/,
                /faces/user/
            </param-value>
        </init-param>
        <init-param>
            <param-name>resources-for-user</param-name>
            <param-value>
                /faces/compsiteview/,
                /faces/covid19/,
                /faces/excel/,
                /faces/frame/,
                /faces/linechart/,
                /faces/multicolgroup/,
                /faces/simplelist/,
                /faces/templating/
            </param-value>
        </init-param>
        <init-param>
            <param-name>resources-for-admin</param-name>
            <param-value>
                /faces/admin/
            </param-value>
        </init-param>
    </filter>
    <filter>
        <filter-name>Force To Password Change Filter</filter-name>
        <filter-class>com.gmail.kasabuta4.jsfdemo.common.authentication.ForceToChangePasswordFilter</filter-class>
        <init-param>
            <param-name>change-password-page-uri</param-name>
            <param-value>/faces/user/change_password.xhtml</param-value>
        </init-param>
        <init-param>
            <param-name>faces-resource-request-uri</param-name>
            <param-value>/faces/javax.faces.resource/</param-value>
        </init-param>
    </filter>
<!--
    <filter-mapping>
        <filter-name>WebProfileFilter</filter-name>
        <servlet-name>Faces Servlet</servlet-name>
    </filter-mapping>
-->
    <filter-mapping>
        <filter-name>Basic Authentication Filter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>Authorization Filter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>Force To Password Change Filter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>/faces/*</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.xhtml</welcome-file>
    </welcome-file-list>
    <env-entry>
        <env-entry-name>realm</env-entry-name>
        <env-entry-type>java.lang.String</env-entry-type>
        <env-entry-value>jsfdemorealm</env-entry-value>
    </env-entry>
    <jms-destination>
        <name>java:app/jms/WebProfileQueue</name>
        <interface-name>javax.jms.Queue</interface-name>
        <resource-adapter>jmsra</resource-adapter>
        <destination-name>WebProfileQueue</destination-name>
    </jms-destination>
    <jms-destination>
        <name>java:app/jms/DataAccessProfileQueue</name>
        <interface-name>javax.jms.Queue</interface-name>
        <resource-adapter>jmsra</resource-adapter>
        <destination-name>DataAccessProfileQueue</destination-name>
    </jms-destination>
</web-app>
